*, *::before, *::after{
    box-sizing: border-box;
}
.container{
    width:90%;
    max-width: 1800px;
    margin:0 auto;
    
}
h1, h2{
    
    color:#5c5a5a;
    font-size:2rem;
    text-align: center;
    padding:2rem;

}
p{
   text-align: center;
    padding: 0.5rem;
}
ul{
    text-align: center;
}
 ul li{
    list-style: none;
    font-size: 1.5rem;
}